$darkBgcolor: #202020;
$fontColor: #202020;
$whiteColor: #fff;
$orangeColor: #ff6e30;
$greyColor: #cacaca;
$dateColor: #999;
$hoverColor: #ff6e30;
$focusColor: #bc572b;
$activeColor: #ce4307;
$gap: 30px;
